# Assignment 1- Building a simple image search algorithm

First I import the relevant packages

In [1]:
import os
import sys
sys.path.append("..")

import cv2 #opencv

import numpy as np
import pandas as pd
from imutils import jimshow as show #utility functions
from imutils import jimshow_channel as show_channel

#plotting
import matplotlib.pyplot as plt

Then I create the path way to the photo I have coosen to use as the photo I am going to campare all the other photos to.

In [3]:
image = os.path.join("..", "in", "flowers", "image_0175.jpg")

Then I load that image.

In [4]:
main_image = cv2.imread(image)

Then I create a histogram and normalize it for my main photo

In [5]:
main_hist = cv2.calcHist([main_image], [0,1,2], None, [256,256,256], [0,256, 0,256, 0,256])
main_norm_hist = cv2.normalize(main_hist, main_hist, 0, 1.0, cv2.NORM_MINMAX)

In [11]:
#I then create the pathway to the folder with all the flower photos
data_dir = os.path.join("..", "in", "flowers")
sorted_dir = sorted(os.listdir(data_dir))

#I create a list, that I will add my results to at a later time in the code
results_list = []

#Then I create a for loop to treat each individual flower image in the data directory
for file_name in sorted_dir:
    #I create a filepath to load the individual photos
    file_path = data_dir + "/" + file_name
    #and load them
    ref_image = cv2.imread(file_path)
    #then I create a histogram and normalize it for each photo
    ref_hist = cv2.calcHist([ref_image], [0,1,2], None, [256,256,256], [0,256, 0,256, 0,256])
    ref_norm_hist = cv2.normalize(ref_hist, ref_hist, 0, 1.0, cv2.NORM_MINMAX)
    #I then compare the normalized histogram for every picture, with the one I created for my main photo
    distance = round(cv2.compareHist(main_norm_hist, ref_norm_hist, cv2.HISTCMP_CHISQR), 2)
    #I then save the results to my created list
    results_list.append((file_name, distance))
    #I then make that into a dataframe
    df = pd.DataFrame(results_list, 
                         columns=["file_name","Distance"],)
    #I then sort that dataframe by the values in my "Distance" column, starting with the lowest at the top 
    df_sorted = df.sort_values(by='Distance', ascending=True)
    #I then cut the dataframe. so I only have the topo six results, since the top result is just the same photo as my main photo 
    df_top = df_sorted.head(6)

#Creating the path to where I want to save my results
outpath = os.path.join("..", "out", "results_list_top.csv")
#Saving the dataframe as a CSV file
df_top.to_csv(outpath, index=False)

In [15]:
df_sorted

           file_name    Distance
174   image_0175.jpg        0.00
244   image_0245.jpg       69.19
1098  image_1099.jpg       69.70
723   image_0724.jpg       70.13
1307  image_1308.jpg       70.30
...              ...         ...
558   image_0559.jpg  1353316.53
283   image_0284.jpg  1381747.88
289   image_0290.jpg  1463395.96
537   image_0538.jpg  1699629.68
288   image_0289.jpg  1832079.10

[1360 rows x 2 columns]

In [9]:
df_top

           file_name  Distance
174   image_0175.jpg      0.00
244   image_0245.jpg     69.19
1098  image_1099.jpg     69.70
723   image_0724.jpg     70.13
1307  image_1308.jpg     70.30