# CDS-visual1 - Introduction to Python (Continued)

In [1]:
#Creating a snippet of text
text_snippet = "It was the best of times, it was the worst of times"

In [3]:
# Når noget har runde parantes så er det en funktion
print()

In [4]:
# Når man laver et punktum efter sin variable, så kommer der flere muligheder for metoder at kunne bruges
text_snippet.upper()

'IT WAS THE BEST OF TIMES, IT WAS THE WORST OF TIMES'

In [6]:
text_snippet.lower()

'it was the best of times, it was the worst of times'

In [9]:
#En handy metode at kunne til language analytics - Split alle ordene op fra hinanden i linjer
text_snippet.split()

['It',
 'was',
 'the',
 'best',
 'of',
 'times,',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times']

In [10]:
#Man kan sige præcis hvor man vil splitte, men standard er mellemrum. 
text_snippet.split(",")

#Når den splitter hvad før var data typen "string", så kommer det tilbage som datatypen "list"

['It was the best of times', ' it was the worst of times']

In [11]:
#find datatype
type(text_snippet.split(","))

list

## Sequence types - lists

In [2]:
#define a list
colours = ["blue", "green", "red"]

#"" gør det til en string og så skal de adskilles af et komma, for at det bliver forskellige punkter på en liste

In [3]:
colours

['blue', 'green', 'red']

In [4]:
#finde datatypen af en specifik variable - her er det et punkt i listen
type(colours[1])

str

In [5]:
#Hvis man vil finde den sidste i listen
colours[-1]

#Det er -1 fordi man starter med 0 og den bevæger sig på en måde en cirkel, så for at finde den sidste på listen kan man bruge -1

'red'

In [8]:
user_data = ["mary", 42, 1.65]

In [9]:
big_list = [user_data, colours]

In [10]:
big_list

[['mary', 42, 1.65], ['blue', 'green', 'red']]

In [12]:
#opgave: find 42 gennem big_list variablen
big_list[0][1]

42

In [13]:
user_data + colours

['mary', 42, 1.65, 'blue', 'green', 'red']

In [16]:
#tilføj punkter til en liste
colours.append("yellow")

colours

['blue', 'green', 'red', 'yellow', 'yellow']

In [21]:
#Fjern et punkt fra listen
colours.remove("green")

ValueError: list.remove(x): x not in list

In [23]:
colours.remove("yellow")
colours

['blue', 'red', 'yellow']

### Tuples

In [24]:
colours_tup =("blue", "green", "red")
#tuples er med () og strings er []

In [25]:
#strings og tuples er næsten ens, men den store forskel er at man ikke kan ændre på en tupæes, ligesom man kan på strings som ovenover
colours_tup

('blue', 'green', 'red')

### Maptypes or dictionaries

In [26]:
#Ross er stor fan af datatypen dictionaries
#Når man arbejder med distionaries så er det curlybrackets {}
user_ages = {"mary":42, "john":34}

In [27]:
user_ages["mary"]

42

In [33]:
new_users = dict(mary=dict(age=42, height=1.65),
                john=dict(age=50, height=1.80),
                alice=dict(age=24, height=1.83))

In [34]:
new_users["mary"]["age"]

42

### Number types

In [35]:
#Der findes to slags number types. 
#Den ene er interger(ints), som er hele tal, uden nogle decimaler
#Den anden er floating numbers, det er så tal der har decimaler

type(2)

int

In [36]:
type(2.1)

float

In [37]:
type(2.0)
#Det er stadig en float fordi der er et decimal, selvom at det bare er 0

float

In [38]:
#Man kan konvertere mellem int og floats
float(2)

2.0

In [40]:
int(2.7)

2

In [41]:
#Division will always return a float
10/2

5.0

In [42]:
#Med mindre man bruger to skråstreger
10//2

5

### Boolean (Bool) types

In [43]:
#Det er typisk true eller false, men svarene kan også komme tilbage som tal
True == 1

#hvor True er 1 og false er 0

True

# Introducing "numpy" arrays

In [ ]:
#En package for Python der betyder Numerical Python